/WebContent/WEB-INF/classes
/WebContent/WEB-INF/lib
/WebContent/WEB-INF/work
/WebContent/public/uploads/
/WebContent/.sass*
/deploy/war
/src_stat/code/*.pyc
/src_stat/code/ufp_config.py
/src/jdbc.properties
/src/cache.properties
/src/rabbitmq.properties
/tags
/.tags*
/.idea/*
.classpath
.settings/org.eclipse.wst.common.project.facet.core.xml
.gitignore
