<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.umeng.ufp.core.domain.App">
  <resultMap id="App-RESULT" type="com.umeng.ufp.core.domain.App">
    <id column="id" jdbcType="INTEGER" property="id" />
    
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="platform" jdbcType="VARCHAR" property="platform" />
    <result column="description" jdbcType="VARCHAR" property="description" />
  </resultMap>
	<sql id="select">
		select *
		from
		app
	</sql>

	<select id="App.get" resultMap="App-RESULT" parameterType="int">
		<include refid="select" />
		where id=#{id}
	</select>
  
	<select id="App.find" resultMap="App-RESULT" parameterType="java.util.Map">
        <![CDATA[
        select *
        from app
        ]]>
        <where>
			<!-- !(state & 1) means that not delete -->
        	<![CDATA[!(state & 1)]]>
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="userId != null and userId != ''">
				and user_id = #{userId}
			</if>
        </where>
    </select> 
	<select id="App.listQueryPage" resultType="java.util.HashMap" parameterType="java.util.Map">
		select app.*, (select count(id) from ad_slot where app.id = ad_slot.app_id) as ad_slot_count
        from app
		<where>
			<!-- !(state & 1) means that not delete -->
        	<![CDATA[!(state & 1)]]>
	    	<if test="status != null and status != ''">
		         and
		         <foreach item="s" collection="status" open="(" close=")"
		             separator=" or ">
		             <!-- state & (state -1 ) means set lowest bit from 1 to 0 -->
				     <!-- state ^ (state & (state -1 )) means get proir highest state -->
		             <choose>
			             <when test="s == 'normal'">
			             	state = 0
			             </when>
			             <when test="s == 'pause'">
				             <![CDATA[((state ^ (state & (state - 1))) & 2)]]>
			             </when>
		             </choose>
		         </foreach>          
			</if>
			<if test="userId != null and userId != ''">
				and user_id = #{userId}
			</if>
        </where>
		order by id desc
	 <if test="limit != null">
	     limit
	     <if test="offset != null">
	         #{offset},
	     </if>
	     #{limit}
	 </if>
	</select>   
	<select id="App.listQueryPagecount" resultType="java.lang.Integer" parameterType="java.util.Map">
   		<![CDATA[
        select count(id)
        from app
        ]]>
		<where>
			<!-- !(state & 1) means that not delete -->
        	<![CDATA[!(state & 1)]]>
            <if test="userId != null and userId != ''">
				and user_id = #{userId}
			</if>
	    	<if test="status != null and status != ''">
		         and
		         <foreach item="s" collection="status" open="(" close=")"
		             separator=" or ">
		             <!-- state & (state -1 ) means set lowest bit from 1 to 0 -->
				     <!-- state ^ (state & (state -1 )) means get proir highest state -->
		             <choose>
			             <when test="s == 'normal'">
			             	state = 0
			             </when>
			             <when test="s == 'pause'">
				             <![CDATA[((state ^ (state & (state - 1))) & 2)]]>
			             </when>
		             </choose>
		         </foreach>          
			</if>
        </where>
	</select>
  
	<insert id="App.insert" parameterType="com.umeng.ufp.core.domain.App" useGeneratedKeys="true" keyProperty="id">
	    insert into app(created_time, updated_time, user_id, name, platform, description
	    ) values(SYSDATE(), SYSDATE(), #{userId}, #{name}, #{platform}, #{description}
	    )
	</insert>
	<update id="App.update" parameterType="com.umeng.ufp.core.domain.App">
	    update app set updated_time = SYSDATE(), name = #{name}, platform = #{platform}, description = #{description}
	    <where>
	    	id = #{id} 
	    	and 
			<!-- !(state & 1) means that not delete -->
        	<![CDATA[!(state & 1)]]>
	    	<if test="userId != null and userId != ''">
				and user_id = #{userId}
			</if>
	    </where>
	</update>
	
    <update id="App.updateByMap" parameterType="java.util.Map">
        update app 
        set updated_time = SYSDATE()
        <if test="(andState != null and andState != '') 
        	or (orState != null and orState != '')">
        	,state = state
       		<if test="andState != null and andState != ''">
       			<![CDATA[ & #{andState}]]>
       		</if>
       		<if test="orState != null and orState != '' ">
       			<![CDATA[ | #{orState}]]>
       		</if>
        </if>
        <if test="name != null">
            ,name = #{name}
        </if>
        <where>
			<!-- !(state & 1) means that not delete -->
        	<![CDATA[!(state & 1)]]>
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="userId != null and userId != ''">
				and user_id = #{userId}
			</if>
        </where>
    </update>
    <select id="App.findIds" resultType="java.lang.Integer" parameterType="java.lang.Integer">
        select id
        from app
        <where>
			<!-- !(state & 1) means that not delete -->
        	<![CDATA[!(state & 1)]]>
	        <if test="userId != null and userId != ''">
	            and user_id = #{userId}
	        </if>
       </where>     
    </select> 
    
  
</mapper>
