
html {
    _height:100%;
}
body {
    height:100%;
    font-family:"微软雅黑", "黑体", "宋体", arial;
    background:#fff;
}
body, h1, h2, h3, h4, h5, h6 {
    font-size:12px;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    padding:0;
    margin:0;
}
a {
    text-decoration:none;
    color:#039;
}
a:hover {
    text-decoration:underline;
}
ol, dl, ul, li, dl, dd, dt {
    list-style:none;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
img {
    border:none;
    vertical-align:top;
}
button, a, a span, button span {
    cursor: pointer;
}
select option {
    padding-right:3px;
}
input, button, textarea, select {
    font-family:inherit;
    font-size:inherit;
    font-weight:inherit;
}
/* group 隐藏元素 */
/* class invisible */
.invisible {
    visibility:hidden;
}
/* class hidden */
.hidden {
    display: none;
}
/* end */
.middle{
    margin:0 auto;
    display: block;
    text-align:center;
}
.right {
    float: right!important;
}
marquee {
    line-height:20px;
}
marquee p {
    margin:10px 0;
}
.noborder {
    border:none!important;
}
/* ==reset style end== */
/* ==common start== */
/* clear start */
.umengadsystem_clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}
.umengadsystem_clearfix:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}
.umengadsystem_clearfix {
    display: inline-block;
}
* html .umengadsystem_clearfix {
    height: 1%;
}
.umengadsystem_clearfix {
    display: block;
}
.umengadsystem_clear_line {
    margin:10px 0;
    height:1px;
    border-bottom:1px dotted #ccc;
    overflow:hidden;
    clear:both;
}
/* clear end */
/* text_align start */
.umengadsystem_align_left {
    text-align:left!important;
}
.umengadsystem_align_center {
    text-align:center!important;
}
.umengadsystem_align_right {
    text-align:right!important;
}
.umengadsystem_v_align_top {
    vertical-align:top;
}
.umengadsystem_v_align_middle {
    vertical-align:middle;
}
.umengadsystem_v_align_bottom {
    vertical-align:bottom;
}
/* text_align end */
/* font start */
.umengadsystem_font_red {
    color:#f00!important;
}
.umengadsystem_font_green {
    color:#060!important;
}
.umengadsystem_font_orange {
    color:#f60!important;
}
.umengadsystem_font_blue {
    color:#369!important;
}
.umengadsystem_font_gray {
    color:#bbb!important;
}
.umengadsystem_font_bold {
    font-weight:bold;
}
.umengadsystem_font_throughline {
    text-decoration:line-through;
}
/* font end */
/* ==common end== */
/* ==form elements start== */
.input_text {
    height:18px;
    background:#fff url(../images/input_text_bg.gif) 0 0 repeat-x;
    border:1px solid #999;
    border-bottom-color:#ccc;
    border-right-color:#ccc;
    padding:0 5px;
    box-shadow:0 1px 3px #ccc;
    border-radius:3px;
}
.input_text_combo_rmb {
    display:inline-block;
    vertical-align:middle;
    height:18px;
    border:1px solid #999;
    border-bottom-color:#ccc;
    border-right-color:#ccc;
    box-shadow:0 1px 3px #ccc;
    border-radius:3px;
}
.input_text_combo_rmb span.icon {
    float:left;
    width:19px;
    height:18px;
    color:#666;
    font-weight:bold;
    font-size:12px;
    line-height:18px;
    text-align:center;
    background:#eee;
    border-right:1px solid #ccc;
    border-radius:3px 0 0 3px;
    text-shadow:1px 1px #fff;
}
.input_text_combo_rmb span.content {
    float:left;
    padding:0!important;
    margin:0!important;
    border:none;
}
.input_text_combo_rmb .input_text_inner {
    border:none;
    height:16px;
    float:left;
    margin:0;
    background:#fff url(../images/input_text_bg.gif) repeat-x;
    border-radius:0 3px 3px 0;
}
.input_textarea {
    background: url(../images/input_text_bg.gif) 0 0 repeat-x;
    border:1px solid #ccc;
    border-radius:3px;
    box-shadow:0 1px 3px #ccc;
}
.input_text:focus, .input_textarea:focus, .input_text_focus {
    border-color:#FC0;
}
.input_text_combo_rmb .input_text_inner:focus, .input_text_combo_rmb .input_text_inner_focus {
    border:1px solid #FC0;
    height:14px;
}
.btn_add {
    width:116px;
    height:28px;
    background:url(../images/umengADsystem_btn.gif) 0 0 no-repeat;
    text-align:left;
    padding-left:28px;
    margin-right:10px;
    color:#039;
    border:none;
}
.btn_add_long{
    width:140px;
    background-position:0 -600px;
}
.btn_go {
    width:116px;
    height:28px;
    background:url(../images/umengADsystem_btn.gif) 0 -50px no-repeat;
    text-align:left;
    padding-left:28px;
    color:#039;
    border:none;
    margin-right:10px;
}
.btn_go_long{
    width:167px;
    background-position:0 -550px;
}
.btn_ok {
    width:80px;
    height:28px;
    background:url(../images/umengADsystem_btn.gif) 0 -100px no-repeat;
    text-align:left;
    padding-left:35px;
    color:#039;
    border:none;
    vertical-align:baseline;
}
.btn_common {
    width:58px;
    height:25px;
    background:url(../images/umengADsystem_btn.gif) 0 -150px no-repeat;
    text-align:center;
    color:#039;
    border:none;
}
.btn_small {
    width:48px;
    height:23px;
    background:url(../images/umengADsystem_btn.gif) 0 -400px no-repeat;
    color:#039;
    border:none;
    font-size:12px;
    margin:0 5px;
}
.btn_long{
    height:25px;
    line-height:25px;
    background:url(../images/umeng_common_bg_2.gif) 0 0 repeat-x;
    display:inline-block;
    padding:0 60px;
    border:1px solid #ccc;
    color:#039;
    font-weight:bold;
    text-align:center;
    border-radius:5px;
    box-shadow:0 1px 1px #ccc;
}
.btn_long:hover{
    text-decoration:none;
    background-position:0 -25px;
}
.wrap_input_file {
    display:inline-block;
    position:relative;
    width:60px;
    height:25px;
    overflow:hidden;
    vertical-align: middle;
}
.wrap_input_file .input_file {
    position:absolute;
    right:0;
    top:0;
    z-index:10;
    filter:alpha(opacity=0);
    -moz-opacity:0;
    opacity: 0;
}
.wrap_input_file .input_btn {
    position:absolute;
    z-index:1;
    right:0;
    top:0;
}
.radio_imitate {
    width:127px;
    height:25px;
    display:inline-block;
    cursor:pointer;
    border:none;
    margin-right:10px;
    color:#333;
    background:url(../images/umengADsystem_btn.gif) 0 -200px no-repeat;
}
.radio_imitate_checked {
    background-position:0 -250px;
}
.radio_imitate span {
    width:106px;
    height:22px;
    line-height:22px;
    text-align:center;
    float:right;
}
.radio_imitate .ios {
    text-align:left;
    text-indent:35px;
    background:url(../images/umengADsystem_btn.gif) right -297px no-repeat;
}
.radio_imitate .android {
    background:url(../images/umengADsystem_btn.gif) right -347px no-repeat;
}
.checkbox_imitate {
    width:180px;
    height:25px;
    display:inline-block;
    cursor:pointer;
    border:none;
    margin-right:10px;
    color:#333;
    background:url(../images/umengADsystem_btn.gif) 0 -450px no-repeat;
}
.checkbox_imitate_checked {
    background-position:0 -500px;
}
.checkbox_imitate span {
    width:160px;
    height:22px;
    line-height:22px;
    text-align:center;
    float:right;
}
/* select_imitate start */
.select_imitate {
    width:200px;
    height:19px;
    border:1px solid #999;
    background:url(../images/select_imitate.gif) 0 0 repeat-x;
    cursor:pointer;
    position:relative;
    z-index:1;
    border-radius:3px;
}
.select_imitate a.btn_pulldown {
    width:19px;
    height:19px;
    overflow:hidden;
    float:right;
    background:url(../images/umengADsystem_icon.gif) 0 -250px no-repeat;
}
.select_imitate a.btn_pulldown:hover {
    background-position:0 -269px;
}
.select_imitate span.text {
    width:70%;
    display:block;
    height:19px;
    line-height:19px;
    margin-right:19px;
    text-align:left;
    padding-left:5px;
    color:#000;
    overflow:hidden;
}
.select_imitate .pop_menu {
    width:100%;
    height:auto;
    max-height:144px;
    overflow:auto;
    _overflow:auto!important;
    border:1px solid #999;
    background:#fff;
    position:absolute;
    left:-1px;
    top:18px;
    z-index:100;
    display:none;
    box-shadow:0 2px 5px #666;
}
.select_imitate .pop_menu ul {
    float:none!important;
}
.select_imitate .pop_menu ul li {
    padding:0!important;
    height:20px;
    line-height:20px;
    float:none;
    background:none;
}
.select_imitate .pop_menu ul li a {
    display:block;
    height:20px;
    padding:0 5px!important;
    text-decoration:none;
}
.select_imitate .pop_menu ul li a:hover {
    background:#eee;
}
/* select_imitate end */
/* select_imitate_multi start */
.select_imitate_multi {
    width:300px;
    height:19px;
    border:1px solid #999;
    background:url(../images/select_imitate.gif) 0 0 repeat-x;
    border-radius:3px;
}
.select_imitate_multi .select_imitate {
    width:100%!important;
    border:none;
    background:none;
}
.select_imitate_multi .col_first {
    width:120px;
    height:19px;
    padding-right:10px;
    float:left;
    display:inline;
    background:url(../images/select_imitate_2.gif) right center no-repeat;
}
.select_imitate_multi .col_second {
    width:130px;
    height:19px;
    float:left;
    display:inline;
}
.select_imitate_multi .col_third {
    width:39px;
    height:19px;
    float:left;
    display:inline;
    border-left:1px solid #ccc;
    background:#599CE4;
}
.select_imitate_multi .col_third a {
    display:block;
    font-weight:bold;
    font-size:12px;
    line-height:18px;
    color:#fff;
    text-align:center;
    border-top:1px solid #9BC8F4;
}
.select_imitate_multi span.text {
    _width:70%;
}
.select_imitate_multi .pop_menu {
    top:19px;
}
/* select_imitate_multi end */
/* ==form elements end== */
/* ==components start== */
/* title_primary start */
.umengadsystem_title_primary {
    height:30px;
    font-weight:bold;
    font-size:14px;
    line-height:30px;
}
.umengadsystem_title_primary .right{
    margin-top:5px;
}
.umengadsystem_title_primary select{
    font-weight:normal;
    font-size:12px;
}
/* title_primary end */
/* title_sub start */
.umengadsystem_title_sub{
    height:30px;
    font-weight:bold;
    font-size:14px;
    line-height:30px;
    color:#333;
}
.umengadsystem_title_sub span{
    background:#eee url("../images/select_imitate.gif") repeat-x 0 0;
    border:1px solid #ccc;
    border-radius:5px;
    margin-bottom:5px;
    padding:0 10px;
}
/* title_sub end */
/* title_other start */
.umengadsystem_title_other {
    margin:5px 0;
    display:inline-block;
    height:27px;
    background:url(../images/umengADsystem_title_other.gif) center 0 no-repeat;
    border-radius:5px 5px 0 0;
}
.umengadsystem_title_other span.title {
    display:inline-block;
    height:19px;
    padding:0 5px;
    border:1px solid #E1E1E1;
    border-bottom:none;
    font-weight:bold;
    font-size:12px;
    line-height:19px;
    color:#666;
    text-shadow:1px 1px #fff;
    border-radius:5px 5px 0 0;
}
/* title_other end */
/* panel_overview start */
.umengadsystem_panel_overview {
    width:988px;
    height:88px;
    padding:5px;
    margin-bottom:20px;
    background:url(../images/breadcrumbs_panel_overview.gif) 0 0 repeat-x;
    border:1px solid #ccc;
    box-shadow:0 2px 2px #ccc;
    border-radius:5px;
}
.umengadsystem_panel_overview table {
    width:100%;
}
.umengadsystem_panel_overview th {
    height:30px;
    font-weight:normal;
    font-size:16px;
    line-height:30px;
    color:#000;
    text-align:center;
    border-right:1px solid #ccc;
    text-shadow:1px 1px #fff;
}
.umengadsystem_panel_overview td.last, .umengadsystem_panel_overview th.last {
    border-right:none;
}
.umengadsystem_panel_overview td {
    height:57px;
    font-weight:bolder;
    font-size:24px;
    line-height:57px;
    color:#777;
    text-align:center;
    border-right:1px solid #ccc;
    text-shadow:0 1px #fff, 0 -1px #000;
}
/* panel_overview end */
/* panel_btn start */
.panel_btn {
    padding:5px 0;
}
.panel_btn .part_right {
    float:right;
}
/* panel_btn end */
/* panel_chart start */
.umengadsystem_panel_chart {
    border:1px solid #ccc;
    margin-bottom:20px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 2px 2px #CCCCCC;
}
/* panel_btn end */
/* panel_info start */
.umengadsystem_panel_info {
    width:1000px;
    height:88px;
    background:url(../images/umengADsystem_panel_info.png) no-repeat;
}
.umengadsystem_panel_info_secondary {
    background-position:0 -100px;
}
.umengadsystem_panel_info .main {
    width:984px;
    height:54px;
    padding-top:8px;
    margin: 0 auto;
}
.umengadsystem_panel_info th {
    text-align:center;
    padding:2px 8px 1px;
}
.umengadsystem_panel_info th.title {
    font-weight:bold;
    font-size:18px;
    line-height:1.5em;
    padding-left:16px;
    text-align:left;
    width:270px;
}
.umengadsystem_panel_info td {
    text-align:center;
    padding:1px 8px 5px;
}
.umengadsystem_panel_info td.title {
    padding-left:16px;
    text-align:left;
}
/* panel_info end */
/* panel_summary start */
.umengadsystem_panel_summary {
    border:1px solid #ccc;
    padding:5px;
    box-shadow:0 2px 2px #ccc;
    border-radius:5px;
    -moz-border-radius:5px;
}
.umengadsystem_panel_summary li {
    height:20px;
    clear:both;
    margin-bottom:5px;
    border-bottom:1px solid #ccc;
}
.umengadsystem_panel_summary li span.title {
    padding:0 5px;
    height:19px;
    border:1px solid #ccc;
    border-bottom:none;
    float:left;
    background:#E7F7FF;
    border-top-right-radius:5px;
    border-top-left-radius:5px;
}
.umengadsystem_panel_summary li span.info {
    float:right;
}
/* panel_summary end */
/* panel_main start */
.umengadsystem_panel_main {
    border:1px solid #ccc;
    border-radius:5px;
    box-shadow:0 2px 2px #ccc;
}
.umengadsystem_panel_main .caption {
    height:34px;
    font-weight:normal;
    font-size:12px;
    line-height:34px;
    border-top:1px solid #fff;
    border-left:1px solid #fff;
    border-bottom:1px solid #ccc;
    background:#F0F0F0;
    padding-left:15px;
    border-radius: 5px 5px 0 0;
    text-shadow:1px 1px #fff;
}
.umengadsystem_panel_main .caption span.title {
    font-size:14px;
    margin-right:10px;
}
.umengadsystem_panel_main .caption a.right {
    margin-right:10px;
}
.umengadsystem_panel_main .content {
    border-bottom:1px solid #ccc;
    padding:30px;
}
.umengadsystem_panel_main .panel_btn {
    height:25px;
    line-height:25px;
    padding:5px 10px;
    border-radius:0 0 0 5px;
}
/* panel_main end */
/* panel_sub start */
.umengadsystem_panel_sub {
    padding:10px;
    background:#eee;
    margin-bottom:10px;
    border-radius:5px;
    box-shadow:0 2px 2px #ccc;
}
.umengadsystem_panel_sub p {
    line-height:20px;
    margin-bottom:5px;
    text-shadow:1px 1px #fff;
}
.umengadsystem_panel_sub .panel_btn {
    clear: both;
    height: 15px;
    line-height: 15px;
    padding: 5px 0 0 10px;
}
.umengadsystem_panel_sub p.special {
    height:25px;
    line-height:25px;
    background:#fff url(../images/select_imitate.gif) 0 0 repeat-x;
    border:1px solid #ccc;
    border-top-color:#999;
    border-left-color:#999;
    margin:0;
    padding:0 5px;
}
.umengadsystem_panel_sub p.special span.fix_width {
    display:block;
    width:400px;
    overflow:hidden;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.umengadsystem_panel_sub p.special .right {
    margin-top:4px;
}
.umengadsystem_panel_sub .content_extra {
    background:#fff;
    padding:5px;
    height:300px;
    display:none;
}
.umengadsystem_panel_sub .content_extra_secondary {
}
/* panel_sub end */
/* panel_preview start */
.umengadsystem_panel_preview {
    padding:10px;
    background:#eee;
    border-radius:5px;
    box-shadow:0 2px 2px #ccc;
    margin-bottom:10px;
}
.umengadsystem_panel_preview .size_img {
    width:48px;
    height:48px;
    float:left;
    display:inline;
    background: url(../images/umengADsystem_panel_preview_img_bg.gif) center center no-repeat;
    margin-right:10px;
}
.umengadsystem_panel_preview .size_img_big {
    width:320px;
    height:48px;
    background: url(../images/umengADsystem_panel_preview_img_bg_big.gif) center center no-repeat;
}
.part_preview {
    width:320px;
    height:48px;
    border:1px solid #ccc;
    text-align:left;
    background:url(../images/umeng_common_bg_2.gif) 0 0 repeat-x;
}
.part_preview_nobgimg{
    background-image:none;
    background-color:#eee;
}
.box_shadow {
    box-shadow:0 2px 5px #999;
}
.part_preview h6 {
    font-weight:bold;
    font-size:12px;
    line-height:25px;
}
.part_preview h6.tall {
    line-height:48px;
    font-size:14px;
    text-shadow:0 1px 1px #fff;
    color:#666;
    margin-left:10px;
}
.umengadsystem_panel_preview_bg{
    background:#fff!important;
}
.umengadsystem_panel_preview .part_preview p {
    font-weight:bold;
    font-size:11px;
    line-height:20px;
    color:#666;
}
.umengadsystem_panel_preview .part_text {
    height:48px;
    padding-bottom:5px;
}
.umengadsystem_panel_preview .part_notice {
    padding-top:5px;
    margin-top:5px;
    border-top:1px solid #ccc;
}
.umengadsystem_panel_preview p {
    line-height:1.8em;
    text-shadow:1px 1px #fff;
}
.umengadsystem_panel_preview .panel_btn {
    clear:both;
    height:15px;
    line-height:15px;
    padding:5px 0 0 10px;
}
.umengadsystem_panel_preview .tool{
    margin:10px auto 0;
}
.umengadsystem_panel_preview .tool td{
    padding:5px;
}
.umengadsystem_panel_preview .tool td.rightborder{
    border-right:1px solid #ccc;
}
.umengadsystem_panel_preview .tool th{
    padding:5px;
}
/* panel_preview end */
/* panel_pop start */
.umengadsystem_panel_pop {
    width:450px;
    background:#eee;
    border:1px solid #ccc;
    padding:5px;
    box-shadow:0 2px 5px #999;
    border-radius:5px;
}
.umengadsystem_panel_pop h6 {
    height:20px;
    line-height:20px;
}
.umengadsystem_panel_pop h6 .btn_close {
    width:16px;
    height:16px;
    float:right;
    background:url(../images/umengADsystem_icon.gif) no-repeat 0 0;
}
.umengadsystem_panel_pop h6 .btn_close:hover {
    background-position:0 -16px;
}
.umengadsystem_panel_pop .main {
    background:#fff;
    border:1px solid #999;
    height:354px;
    overflow:auto;
}
.umengadsystem_panel_pop li {
    height:48px;
    padding:5px;
    border-bottom:1px solid #ccc;
    background:url(../images/breadcrumbs_panel_overview.gif) 0 0 repeat-x;
}
.umengadsystem_panel_pop li a.part_pic {
    width:48px;
    height:48px;
    float:left;
    display:inline;
    margin-right:10px;
}
.umengadsystem_panel_pop li img {
    height:48px;
    width:48px;
}
.umengadsystem_panel_pop li h6 {
    line-height:25px;
}
.umengadsystem_panel_pop li p {
    line-height:20px;
    color:#666;
}
/* panel_pop end */
/* breadcrumbs start */
.umengadsystem_breadcrumbs {
    width:998px;
    margin-bottom:20px;
    height:43px;
    border:1px solid #ccc;
    box-shadow:0 2px 2px #ccc;
    border-radius:5px;
    -moz-border-radius:5px;
}
.umengadsystem_breadcrumbs .part_right {
    _width:300px;
    float:right;
    padding:0 5px;
    border-left:1px solid #ccc;
    height:43px;
}
.umengadsystem_breadcrumbs .part_right h6 {
    height:20px;
    color:#666;
    font-weight:normal;
    font-size:12px;
    line-height:20px;
    text-align:right;
}
.umengadsystem_breadcrumbs span.title {
    width:75px;
    height:42px;
    line-height:42px;
    float:left;
    text-indent:10px;
    color:#666;
    border-top:1px solid #fff;
    border-left:1px solid #fff;
    background:#F1F1F1 url(../images/umengADsystem_breadcrumbs.png) right 0 no-repeat;
    border-radius:5px;
    -moz-border-radius:5px;
    text-shadow:1px 1px #fff;
}
.umengadsystem_breadcrumbs ul {
    float:left;
    display:inline;
}
.umengadsystem_breadcrumbs li {
    float:left;
    height:38px;
    background:url(../images/umengADsystem_breadcrumbs.png) right -50px no-repeat;
    padding:5px 20px 0 10px;
}
.umengadsystem_breadcrumbs li a {
    display:block;
}
.umengadsystem_breadcrumbs li span {
    display:block;
}
.umengadsystem_breadcrumbs li span.second {
    line-height:34px;
}
/* breadcrumbs end */
/* flow start */
.umengadsystem_flow {
    width:998px;
    height:28px;
    line-height:28px;
    border:1px solid #ccc;
    margin-bottom:20px;
    background:url(../images/umengADsystem_flow.gif) no-repeat;
    border-radius:5px;
    -moz-border-radius:5px;
    box-shadow:0 2px 2px #ccc;
}
.step1 {
    background-position:0 0;
}
.step2 {
    background-position: 0 -50px;
}
.step3 {
    background-position:0 -100px;
}
.step4 {
    background-position:0 -150px;
}
.step1_media {
    background-position:0 -200px;
}
.step2_media {
    background-position:0 -250px;
}
.step1_media li, .step2_media li{
    width:499px!important;
}
.umengadsystem_flow li {
    width:249.5px;
    float:left;
    height:inherit;
    color:#666;
}
.umengadsystem_flow li.on a, .umengadsystem_flow li span {
    display:block;
    height:inherit;
    text-indent:30px;
}
.umengadsystem_flow li.on a, .umengadsystem_flow li.on span {
    color:#fff;
    font-weight:bold;
}
/* flow end */
/* tips start */
.umengadsystem_notice {
    width:965px;
    padding-left:35px;
    margin-bottom:20px;
    height:40px;
    font-weight:bold;
    font-size:12px;
    line-height:35px;
    background:url(../images/umengADsystem_notice.png) no-repeat;
    text-shadow:1px 1px #fff;
}
.umengadsystem_notice a.btn_close {
    width:16px;
    height:16px;
    float:right;
    margin:9px 9px auto auto;
    background:url(../images/umengADsystem_icon.gif) 0 0 no-repeat;
}
.umengadsystem_notice a.btn_close:hover {
    background-position:0 -16px;
    border:1px solid #ccc;
    border-top-color:#666;
    border-left-color:#666;
    border-radius:3px;
    -moz-border-radius:3px;
}
.notice_ok {
    background-position:0 0;
    color:#363;
}
.notice_warning {
    background-position:0 -50px;
    color:#330
}
.notice_wrong {
    background-position:0 -100px;
    color:#600;
}
.tips_week_warning {
    margin:0 5px;
    padding-left:20px;
    color:#F30;
    vertical-align:middle;
    background:url(../images/umengADsystem_icon.gif) no-repeat 0 -600px;
}
.tips_week_attention {
    margin:0 5px;
    padding-left:20px;
    color:#F30;
    vertical-align:middle;
    color:#C30;
    background:#f2f2f2 url(../images/umengADsystem_icon.gif) no-repeat 0 -900px;
}
/* tips end */
/* tab_link start */
.umengadsystem_tab_link {
    height:40px;
    margin-bottom:10px;
}
.umengadsystem_tab_link ul {
    float:left;
    height:38px;
    display:inline;
    background:url(../images/umengADsystem_tab_link.gif) 0 -50px repeat-x;
    border:1px solid #ccc;
    overflow:hidden;
    border-radius:5px;
    box-shadow:0 2px 2px #ccc;
}
.umengadsystem_tab_link ul li {
    float:left;
    display:inline;
    height:inherit;
}
.umengadsystem_tab_link ul li.on {
    background:url(../images/umengADsystem_tab_link.gif) 0 0 repeat-x;
}
.umengadsystem_tab_link ul li a {
    display:block;
    padding:0 15px 0 40px;
    height:inherit;
    line-height:40px;
    border-left:1px solid #fff;
    border-right:1px solid #ccc;
    background:url(../images/umengADsystem_icon.gif) no-repeat;
}
.umengadsystem_tab_link ul li.disabled {
    background:#F3F3F3;
}
.umengadsystem_tab_link ul li.disabled a {
    color:#ddd;
    text-shadow:1px 1px #fff;
    cursor:default;
    text-decoration:none;
}
.umengadsystem_tab_link ul li a.web {
    background-position: 10px -42px;
}
.umengadsystem_tab_link ul li.disabled a.web {/* When disabled  */
    background-position:10px -742px;
}
.umengadsystem_tab_link ul li a.ios {
    background-position: 10px -92px;
}
.umengadsystem_tab_link ul li.disabled a.ios {/* When disabled  */
    background-position:10px -792px;
}
.umengadsystem_tab_link ul li a.android {
    background-position: 10px -142px;
}
.umengadsystem_tab_link ul li.disabled a.android {/* When disabled  */
    background-position:10px -842px;
}
.umengadsystem_tab_link ul li a.last {
    border-right:none;
}
/* tab_link end */
/* tab_common start */
.umengadsystem_tab_common .tab_caption{
    height:25px;
    border-bottom:2px solid #216AB8;
}
.umengadsystem_tab_common li{
    height:25px;
    line-height:25px;
    text-align:center;
    float:left;
    display:inline;
    margin-right:3px;
}
.umengadsystem_tab_common li a{
    float:left;
    height:100%;
    padding:0 15px;
    background:#eee;
    border-radius:5px 5px 0 0;
}
.umengadsystem_tab_common li.on a{
    text-decoration:none;
    color:#fff;
    background:url(../images/umengADsystem_body_bg.gif) 0 -55px repeat-x;
}
.umengadsystem_tab_common .box{
    display:none;
    padding-top:5px;
}
.umengadsystem_tab_common .box_on{
    display:block;
}
/* tab_link_common end */
/* tabel_data_common start */
.umengadsystem_tabel_data {
    border:1px solid #ccc;
    border-radius:5px;
    box-shadow:0 2px 2px #ccc;
}
.umengadsystem_tabel_data .part_operation {
    background:#F3F3F3;
    height:30px;
    border-bottom:1px solid #ccc;
    border-radius:5px 5px 0 0;
}
.umengadsystem_tabel_data .part_operation span.title {
    float:left;
    display:inline;
    margin-left:10px;
    line-height:30px;
    text-shadow:1px 1px #fff;
    font-size:14px;
}
.umengadsystem_tabel_data .part_operation dl {
    float:left;
    height:30px;
    border-radius:5px 0 0 0;
}
.umengadsystem_tabel_data .part_operation dd {
    float:left;
    height:30px;
    display:inline;
    border-right:1px solid #ccc;
    border-left:1px solid #fff;
    background:url(../images/umengADsystem_tabel_data.gif) 0 0 repeat-x;
}
.umengadsystem_tabel_data .part_operation dd a {
    height:inherit;
    display:block;
    font-weight:bold;
    font-size:12px;
    line-height:30px;
    color:#000;
    padding:0 15px 0 25px;
}
.umengadsystem_tabel_data .part_operation dd.addnew {
    border-radius:5px 0 0 0;
    padding-top:1px;
    padding-left:1px;
    height:29px;
    background:#fff;
    text-align:center;
}
.umengadsystem_tabel_data .part_operation dd.addnew .btn_add{
    margin-right:3px;
}
.umengadsystem_tabel_data .part_operation dd.play a {
    background:url(../images/umengADsystem_icon.gif) 5px -293px no-repeat;
}
.umengadsystem_tabel_data .part_operation dd.pause a {
    background:url(../images/umengADsystem_icon.gif) 5px -343px no-repeat;
}
.umengadsystem_tabel_data .part_operation dd.delete a {
    background:url(../images/umengADsystem_icon.gif) 5px -393px no-repeat;
}
.umengadsystem_tabel_data .part_operation dd.return {
    background:none;
    border:none;
}
.umengadsystem_tabel_data .part_operation dd.return a {
    display:inline;
    padding: 0 0 0 15px;
    color:#039;
    font-weight:normal;
}
.umengadsystem_tabel_data .right {
    float:right;
    margin-top:5px;
    margin-right:5px;
}
.umengadsystem_tabel_data .right_other {
    float:right;
    margin-top:5px;
    margin-right:20px;
}
.umengadsystem_tabel_data .right_other label {
    margin-right:10px;
}
.umengadsystem_tabel_data .right_extra {
    float:right;
    margin-top:7px;
}
.umengadsystem_tabel_data .part_table th {
    height:29px;
    text-align:center;
    background:url(../images/umengADsystem_tabel_data.gif) right -50px no-repeat;
    color:#000;
    font-weight:normal;
    font-size:12px;
    line-height:29px;
    text-shadow:1px 1px #fff;
}
.umengadsystem_tabel_data .part_table th.last {
    background-position:left -50px;
}
.umengadsystem_tabel_data .part_table td {
    text-align:center;
    padding:7px;
}
.umengadsystem_tabel_data .part_table td .hasmargin{
    margin-right:10px;
}
.umengadsystem_tabel_data .part_table td img {
    margin-right:3px;
}
.umengadsystem_tabel_data .part_table .transbg td {
    background:#F1FAFF;
}
.umengadsystem_tabel_data .part_table .total td{
    height:15px;
    padding:0 inherit;
    background:#F6F6F6 url(../images/select_imitate.gif) 0  top repeat-x;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
}
.umengadsystem_tabel_data .part_foot {
    height:30px;
    line-height:30px;
    background:#F3F3F3;
    padding:0 10px;
    border-radius:0 0 5px 5px;
}
/* tabel_data_common end */
/* umengADsystem_page start */
.umengadsystem_page, .umengadsystem_page ul {
    height:16px;
    float:left;
}
.umengadsystem_page ul li {
    height:16px;
    float:left;
    display:inline;
    margin-right:5px;
}
.umengadsystem_page ul li a, .umengadsystem_page ul li span {
    float:left;
    height:14px;
    line-height:14px;
    text-align:center;
    padding:0 3px;
}
.umengadsystem_page ul li a {
    border:1px solid #ccc;
    text-decoration:none;
    border-radius:3px!important;
}
.umengadsystem_page ul li a:hover {
    background:#2A6BB2;
    color:#fff;
}
.umengadsystem_page ul li span {
    border:none;
    padding:1px;
}
/* umengADsystem_page end */
/* umengADsystem_table_form start */
.umengadsystem_table_form th {
    padding:10px 8px;
    text-align:right;
}
.umengadsystem_table_form td {
    padding:10px 8px;
    text-align:left;
}
.umengadsystem_table_form .second th, .umengadsystem_table_form .second td {
    padding:2px 8px 5px;
}
.umengadsystem_table_form .third th, .umengadsystem_table_form .third td {
    padding:8px 8px 1px;
}
/* umengADsystem_table_form end */
/*umengADsystem_login start  */
.umengadsystem_login {
    width:300px;
    height:205px;
    padding:20px 30px;
    margin:0 auto 20px;
    background:#F5F5F5;
    border:1px solid #ccc;
    box-shadow:0 2px 5px #ccc;
    border-radius:5px;
}
.umengadsystem_login .btn_login {
    width:90px;
    height:38px;
    line-height:30px;
    border:none;
    background:url(../images/umengADsystem_login_btn.gif) no-repeat;
    background-size:contain;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/umengADsystem_login_btn.gif', sizingMethod='scale');
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader( src='../images/umengADsystem_login_btn.gif', sizingMethod='scale')";
    font-size:16px;
    padding-bottom:8px;
    margin:0 auto;
    cursor:pointer;
    
}
.umengadsystem_login table td {
    padding:10px 8px;
    text-shadow:1px 1px #fff;
}
.umengadsystem_login table .title td {
    padding-bottom:0;
}
.umengadsystem_login table .content td {
    padding-top:5px;
}
.umengadsystem_login table .content2 td {
    padding-top:5px;
    padding-bottom:5px;
}
.umengadsystem_login .btn_panel {
    padding:5px 0;
    line-height:42px;
    margin-top:10px;
}
/*umengADsystem_login end  */
/* list_1 start */
.umengadsystem_list_1 li {
    border-bottom:1px dotted #ccc;
    padding:15px 0;
}
.umengadsystem_list_1 li:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}
.umengadsystem_list_1 li.last {
    border-bottom:none;
}
.umengadsystem_list_1 img {
    float:left;
    margin-right:5px;
}
.umengadsystem_list_1 h6 {
    color:#000;
    font-weight:bold;
    font-size:14px;
    line-height:22px;
    padding:0;
    margin:0;
    _display:inline;
}
.umengadsystem_list_1 p.state {
    color:#666;
    line-height:18px;
    margin-bottom:5px;
}
/* list_1 end */
/* list_2 start */
.umengadsystem_list_2 {
    margin-bottom:20px;
}
.umengadsystem_list_2 ul:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}
.umengadsystem_list_2 li {
    float:left;
    display:inline;
    margin-right:15px;
}
/* list_2 end */
/* list_3 start */
.umengadsystem_list_3{
    margin-top:10px;
    margin-left:20px;
}
.umengadsystem_list_3 li{
    line-height:30px;
}
.umengadsystem_list_3 li.panel{
    margin-top:10px;
}
/* list_3 end */
/* ==components end== */
/* ==icon start== */
.icon_return {
    background:url(../images/umengADsystem_icon.gif) 0 -200px no-repeat;
    padding-left:15px;
    margin:0 10px;
}
.icon_export {
    background:url(../images/umengADsystem_icon.gif) 0 -450px no-repeat;
    padding-left:15px;
}
.icon_modify {
    background:url(../images/umengADsystem_icon.gif) 0 -550px no-repeat;
    padding-left:17px;
}
.icon_delete {
    background:url(../images/umengADsystem_icon.gif) 0 -650px no-repeat;
    padding-left:17px;
}
.icon_delete_alone {
    width:16px;
    height:16px;
    display:inline-block;
    background:url(../images/umengADsystem_icon.gif) 0 -650px no-repeat;
}
.icon_select {/* 选择 */
    background:url(../images/umengADsystem_icon.gif) 0 -699px no-repeat;
    padding-left:17px;
}
.icon_code {/* 获取代码 */
    background:url(../images/umengADsystem_icon.gif) 0 -1049px no-repeat;
    padding-left:17px;
}
.icon_white_list {/* 白名单 */
    background:url(../images/umengADsystem_icon.gif) 0 -1099px no-repeat;
    padding-left:17px;
}
.icon_black_list {/* 黑名单 */
    background:url(../images/umengADsystem_icon.gif) 0 -1149px no-repeat;
    padding-left:17px;
}
.icon_color_group{
    height:16px;
}
.icon_color_group .red,
.icon_color_group .orange,
.icon_color_group .yellow,
.icon_color_group .green,
.icon_color_group .cyan_blue,
.icon_color_group .blue,
.icon_color_group .purple,
.icon_color_group .black{
    width:16px;
    height:16px;
    display:inline-block;
    cursor:pointer;
    margin-right:5px;
}
.icon_color_group .red{
    background:#666;
}
.icon_color_group .orange{
    background:#ddd;
}
.icon_color_group .yellow{
    background:#ff0;
}
.icon_color_group .green{
    background:#0F0;
}
.icon_color_group .cyan_blue{
    background:#099;
}
.icon_color_group .blue{
    background:#00F;
}
.icon_color_group .purple{
    background:#90C;
}
.icon_color_group .black{
    background:#000;
}
/* ==icon end== */
/* ==region start== */
/* header start */
.umengadsystem_header {
    height:90px;
    /*margin-bottom:20px;*/
    background:url(../images/umengADsystem_body_bg.gif) 0 0 repeat-x;
}
.umengadsystem_header_main {
    width:1000px;
    height:auto;
    margin:0 auto;
}
.umengadsystem_header_logo {
    width:156px;
    height:55px;
    float:left;
}
.umengadsystem_header_logo a {
    display:block;
    width:100%;
    height:100%;
    line-height:55px;
    text-align:center;
    color:#4F6AAA;
    font-weight:bold;
    font-size:22px;
    text-shadow:2px 2px #fff;
}
.umengadsystem_header_nav {
    height:36px;
    padding-top:19px;
}
.umengadsystem_header_nav li {
    height:36px;
    float:left;
    display:inline;
    margin-right:5px;
    background:url(../images/umengADsystem_header_nav.gif) 0 0 no-repeat;
}
.umengadsystem_header_nav li a {
    display:block;
    padding:0 35px;
    height:36px;
    float:left;
    color:#003366;
    font-weight:bold;
    font-size:14px;
    line-height:36px;
    background:url(../images/umengADsystem_header_nav.gif) right -50px no-repeat;
    text-shadow:1px 1px #fff;
}
.umengadsystem_header_nav li.on {
    background-position: 0 -100px;
}
.umengadsystem_header_nav li.on a {
    background-position: right -150px;
    color:#fff;
    text-shadow:none;
}
.umengadsystem_header_top {
    float:right;
    height:21px;
    margin-right:5px;
    margin-top:29px;
}
.umengadsystem_header_top a.exit {
    padding:0 15px;
    height:20px;
    line-height:20px;
    display:inline-block;
    margin-left:20px;
    border:1px solid #ccc;
    background:url(../images/umengADsystem_header_top.gif) 0 0 repeat-x;
    border-radius:5px;
    -moz-border-radius:5px;
    text-shadow:1px 1px #fff;
    box-shadow:0 1px 1px #ccc;
}
.umengadsystem_header_top span.username {
    color:#666;
    text-shadow:1px 1px #fff;
}
.umengadsystem_header_subnav {
    height:42px;
}
.umengadsystem_header_subnav ul {
    float:left;
    height:inherit;
    display:inline;
}
.umengadsystem_header_subnav ul.first {
    margin-left:58px;
}
.umengadsystem_header_subnav ul.second {
    margin-left:160px;
}
.umengadsystem_header_subnav ul.third {
    margin-left:385px;
}
.umengadsystem_header_subnav li {
    background:url(../images/umengADsystem_header_nav.gif) right -352px no-repeat;
    height:42px;
    float:left;
}
.umengadsystem_header_subnav li.last {
    background:none;
}
.umengadsystem_header_subnav li a {
    float:left;
    height:42px;
    padding:0 30px;
    color:#fff;
    font-weight:bold;
    font-size:12px;
    line-height:38px;
    text-shadow:-1px -1px #000;
}
.umengadsystem_header_subnav li a:hover {
    text-decoration:underline;
}
.umengadsystem_header_subnav li.on a {
    background:url(../images/umengADsystem_header_nav.gif) center -258px no-repeat;
}
/* header end */
/* footer start */
.umengadsystem_footer {
    width:1000px;
    height:30px;
    background:url(../images/umengADsystem_footer.png) no-repeat;
    margin:0 auto;
    font-size:bold;
    font-size:12px;
    line-height:30px;
    border-radius:5px;
    -moz-border-radius:5px;
}
.umengadsystem_footer span.company_info {
    float:right;
    color:#666;
    margin-right:10px;
    text-shadow:1px 1px #fff;
}
.umengadsystem_footer dl {
    float:left;
    height:17px;
    margin:6px auto auto 10px;
}
.umengadsystem_footer dt {
    float:left;
    pading:0 5px;
    font-weight:bold;
    font-size:14px;
    line-height:17px;
    margin-right:20px;
    color:#000;
}
.umengadsystem_footer dd {
    float:left;
    font-weight:normal;
    font-size:12px;
    line-height:17px;
}
.umengadsystem_footer dd a {
    margin:0 5px;
    text-shadow:1px 1px #fff;
}
/* footer end */
/* combo start */
.umengadsystem_combo h5{
    height:30px;
    line-height:30px;
    border:1px solid #ccc;
    background:url(../images/umengADsystem_tabel_data.gif) 0 0  repeat-x;
    border-radius:5px;
    box-shadow:0 2px 2px #ccc;
}
.umengadsystem_combo h5 a{
    color:#666;
    display:block;
    background:url(../images/umengADsystem_icon.gif) 10px -943px no-repeat;
    padding-left:28px;
    text-decoration:none;
    border-radius:5px;
    outline:none;
}
.umengadsystem_combo h5 a:hover{
    background:#eee url(../images/umengADsystem_icon.gif) 10px -943px no-repeat;;
}
.umengadsystem_combo h5 a.down{
    background-position:10px -993px;
}
.umengadsystem_combo .umengadsystem_title_sub{
    margin-top:10px;
}
.umengadsystem_combo .main_content{
    padding:10px;
    display:none;
}
.umengadsystem_combo .main_content p{
    line-height:1.5em;
    margin:0 auto 5px;
}
.umengadsystem_combo .main_content p.secondary{
    padding-left:20px;
}
.umengadsystem_combo .main_content p.third{
    padding-left:40px;
}
.umengadsystem_combo table.show td, .umengadsystem_combo table.show th{
    text-align:center;
}
.umengadsystem_combo table.show th{
    padding-top:10px;
}
/* combo end */
/* panel_code start */
.umengadsystem_panel_code{
    margin:0 10px 10px;
    padding:10px;
    background:#eee;
    border-radius:5px;
    box-shadow:0 2px 5px #ccc;
}
.umengadsystem_panel_code ol{
    margin-left:20px;
}
.umengadsystem_panel_code ol li{
    line-height:25px;
    list-style:decimal outside;
    background:#B7D6B7;
    padding:0 5px;
    margin-bottom:1px;
}
.umengadsystem_panel_code ol li.indent{
    padding-left:24px;
}
.umengadsystem_panel_code ol li.indent_2{
    padding-left:48px;
}
/* panel_code end */
/* ==region end== */
/* ==layout start== */
.umengadsystem_container {
    width:940px;
    margin:0 auto 20px;
}
.login_banner{
    width:100%;
    height:300px;
    background:url(../imgs/background.png) repeat-y;
}
/* umengADsystem_two_col start */
.umengadsystem_two_col .col_l {
    width:685px;
    float:left;
    display:inline;
}
.umengadsystem_two_col .col_r {
    width:300px;
    float:right;
    display:inline;
}
.umengadsystem_two_col_other {
    margin-bottom:20px;
}
.umengadsystem_two_col_other .col_l {
    width:380px;
    float:left;
    display:inline;
    background:#EEEEEE;
    padding:10px;
    border-radius:5px;
    box-shadow:0 2px 2px #ccc;
}
.umengadsystem_two_col_other .col_l .main {
    background:#fff;
    height:292px;
}
.umengadsystem_two_col_other .col_r {
    width:215px;
    float:right;
    display:inline;
}
.umengadsystem_two_col_other .col_r .single {
    margin-bottom:10px;
    padding:5px 10px;
    border-radius:5px;
    box-shadow:0 2px 2px #ccc;
}
.umengadsystem_two_col_other .col_r .ios {
    background:#eee url(../images/umeng_common_bg.gif) right 0 no-repeat;
}
.umengadsystem_two_col_other .col_r .android {
    background:#eee url(../images/umeng_common_bg.gif) right -200px no-repeat;
}
.umengadsystem_two_col_other .col_r select {
    width:90px;
    height:20px;
}
.umengadsystem_two_col_other .col_r h6 {
    font-weight:normal;
    font-size:12px;
    line-height:30px;
    text-shadow:1px 1px #fff;
    padding-left:10px;
}
.umengadsystem_two_col_other .col_r p {
    margin-bottom:5px;
}
/* umengADsystem_two_col end */
/* ==layout end== */
/* ==debugger start== */
.debugger {
    background:#30F!important;
}
/* ==debugger end== */
