ul {  
  counter-reset: section;                /* Creates a new instance of the 
                                            section counter with each ol 
                                            element */  
  list-style-type: none;  
}  
li{
   counter-increment: section;
}
li  h4:before,li  h5:before,li  h6:before {  
              /* Increments only this instance 
                                            of the section counter */  
  content: counters(section, ".") " ";   /* Adds the value of all instances 
                                            of the section counter separated 
                                            by a ".". */  
}
.listDoc{
    line-height:1.8em;
    font-size:13px;
}
.listDoc h4{
    font-size:14px;
}
.listDoc p{
    text-indent:1em;
}
.listDoc dd{
    padding-left:1em;
}