#container {
	
}

/* header start */

#header {
	background:url('../images/header_bg.png') repeat-x;
	width:100%;
	height:43px;
	overflow:hidden; /* IE6 Bug */
}

#header .con {
	width:940px;
	height:43px;
	margin:0 auto;
/* 	padding-top:8px; */
}

#header .con .logo {
	background-repeat:no-repeat;
	height:27px;
	line-height:27px;
	padding-left:52px;
	font-size: 16px;
	font-weight:bold;
	letter-spacing:1px;
	float:left;
	text-shadow:1px 1px #fff;
}

#header .con .opr {
	float:right;
	font-size:14px;
	height:27px;
	line-height:27px;
	margin-top:10px;
        color:#003399;
        
}
#header .con .opr a{
/*    text-decoration: underline;*/
}

#header .con .logo a, #header .con .logo a:hover {
	color:#375d9c;
	text-decoration: none;
}

/* header end */

/* footer start */
#footer {
	width:100%;
}

#footer .con {
	width:1000px;
	height:30px;
	background:url(../images/umengADsystem_footer.png) no-repeat;
	width:940px;
	height:43px;
	margin:0 auto;
	padding-top:8px;
	border-radius:5px;
	-moz-border-radius:5px;
}

#footer .con span.company_info {
	float:right;
	color:#666;
	margin-right:10px;
	text-shadow:1px 1px #fff;
}
#footer .con span.company_info a,
#footer .con span.company_info span{
	margin:0 5px;
}
#footer .con dl {
	float:left;
	height:17px;
	margin:0 auto auto 10px;
}
#footer .con dt {
	float:left;
	pading:0 5px;
	font-weight:normal;
	font-size:12px;
	line-height:17px;
	margin-right:20px;
	color:#000;
	text-shadow:1px 1px #fff;
}
#footer .con dd {
	float:left;
	font-weight:normal;
	font-size:12px;
	line-height:17px;
}
#footer .con dd a {
	margin:0 5px;
	text-shadow:1px 1px #fff;
}

/* foot end */

/* menu start */

#menu {
	background:url('../images/menu_bg.jpg') repeat-x;
	width:100%;
	height:49px;
}

#menu .con {
	width:940px;
	height:49px;
	margin:0 auto;
}

#menu .con ul li{
	float:left;
	position:relative;
}

#menu .con ul li a, #menu .con ul li a{
	width:91px;
	height:49px;
	display:block;
	float:left;
	background-position:0 0;
	background:url('../images/menu_bg.png') no-repeat;
	background-position:0 0;
	text-indent: -10000px;
}

#menu .con ul li.position a{
	background-position:0 0;
}

#menu .con ul li.position a:hover, #menu .con ul li.position.current a{
	background-position:0 -49px;
}

#menu .con ul li.ad a{
	background-position:-91px 0;
}

#menu .con ul li.ad a:hover, #menu .con ul li.ad.current a{
	background-position:-91px -49px;
}

#menu .con ul li.report a{
	background-position:-182px 0;
}

#menu .con ul li.report a:hover, #menu .con ul li.report.current a{
	background-position:-182px -49px;
}

#menu .con ul li.settings a{
	background-position:-273px 0;
}

#menu .con ul li.settings a:hover, #menu .con ul li.settings.current a{
	background-position:-273px -49px;
}

#menu .con ul li.current span{
	position:absolute;
	left:50%;
	margin-left:-11px;
	top:34px;
	width:22px;
	height:15px;
	background:url('../images/arrow_current.png') no-repeat;
}

/* menu end */

/* submenu start */

.submenu {
	background:url('../images/submenu_bg.png') repeat-x;
	width:100%;
	height:35px;
	font-size:13px;
	text-shadow:1px 1px #fff;
}

.submenu .con {
	width:940px;
	height:35px;
	margin:0 auto;
}

.submenu .con ul li{
	float:left;
	position:relative;
	height:35px;
	line-height:30px;
}

.submenu .con a, .submenu .con a:hover{
	text-decoration: none;
	color:#8b8b8b;
}

.submenu .con a:hover{
	text-decoration: none;
	color:#000000;
}

.submenu .con li.current a, .submenu .con li.current a:hover{
	color:#000;
}

.submenu .con a{
	display:block;
	padding-left:15px;
	padding-right:15px;
	background:url('../images/submenu_spilt.gif') no-repeat right;
}

.submenu .con ul li.current span{
	position:absolute;
	left:50%;
	margin-left:-11px;
	top:20px;
	width:22px;
	height:15px;
	background:url('../images/arrow_current.png') no-repeat;
}

/* submenu end */

/* main start */

#main {
	width:940px;
	margin:0 auto;
	padding:24px 0;
}
	
	/* breadcrumbs start */
	#main .breadcrumbs {
		width:940px;
		margin-bottom:20px;
		height:43px;
		border:1px solid #ccc;
		box-shadow:0 2px 2px #ccc;
		border-radius:5px;
		-moz-border-radius:5px;
		background-color:#fafafa;
		text-shadow:1px 1px #fff;
	}
	#main .breadcrumbs span.title {
		width:75px;
		height:42px;
		line-height:42px;
		float:left;
		text-indent:10px;
		color:#666;
		border-top:1px solid #fff;
		border-left:1px solid #fff;
		background:#F1F1F1 url(../images/umengADsystem_breadcrumbs.png) right 0 no-repeat;
		border-radius:5px;
		-moz-border-radius:5px;
		text-shadow:1px 1px #fff;
	}
	#main .breadcrumbs ul {
		float:left;
		display:inline;
	}
	#main .breadcrumbs li {
		float:left;
		height:38px;
		background:#F1F1F1 url(../images/umengADsystem_breadcrumbs.png) right -50px no-repeat;
		padding:5px 30px 0 20px;
		background-color:#fafafa;
	}
	#main .breadcrumbs li.t1 {
		background:url(../images/breadcrumbs_1.png) right no-repeat;
	}
	#main .breadcrumbs li.t2 {
		background:#dcdcdc url(../images/breadcrumbs_2.png) right no-repeat;
	}
	#main .breadcrumbs li.t3 {
		background:#dcdcdc url(../images/breadcrumbs_3.png) right no-repeat;
	}
	#main .breadcrumbs li a , #main .breadcrumbs li a:hover{
		display:block;
		color:#000;
		text-decoration:none;
		font-size:14px;
	}
	#main .breadcrumbs li span {
		display:block;
		line-height:34px;
	}
	#main .breadcrumbs li.t1 a, #main .breadcrumbs li.t1 a:hover {
		color:#656565;
	}
	/* breadcrumbs end */

	/* content start */
	
	#main .content {
		width:100%;
		height:51px;
		margin-top:21px;
	}
	
	#main .content .top, #main .content .bottom {
		height:6px;
		width:100%;
		background:url('../images/content_bg.png') no-repeat;
		overflow:hidden; /* IE6 Bug */
	}
	
	#main .content .top {
		background-position:0 0;
	}
	
	#main .content .center {
		width:920px;
		background:url('../images/content_center_bg.png') repeat-y;
		padding:10px;
	}
	
	#main .content .bottom {
		background-position:0 -6px;
	}
	
	#main .content .center .opr {
		border-top:1px solid #cccccc;
		margin:0 10px;
		padding:10px 0;
	}
	
	#main .content .center .opr .back {
		float:left;
		width:200px;
	}
	
	#main .content .center .opr .btn {
		float:right;
		height:28px;
		margin-right:10px;
	}
	
	.flow {
		height:29px;
		width:506px;
		margin:10px;
		*margin-top:20px;
	}
	
	.flow.step1 {
		background:url('../images/innertab_2.png') 0 0 no-repeat;
	}
	
	.flow.step2 {
		background:url('../images/innertab_2.png') 0 -29px no-repeat;
	}
	
	.flow ul li {
		display:block;
		float:left;
		padding-left:50px;
		line-height:29px;
	}
	
	.flow ul li a, .flow ul li a:hover {
		display:block;
		width:203px;
		height:29px;
		color:#ffffff;
		text-decoration:none;
	}
	
	/* content end */

/* main start */


	#main .panel_main {
		margin-top:21px;
		border:1px solid #ccc;
		border-radius:5px;
		box-shadow:0 2px 2px #ccc;
		padding:10px 20px;
		background-color:#fafafa;
	}

	#main .panel_main .con {
		border-bottom:1px solid #ccc;
		padding-bottom:10px;
	}
	
	#main .panel_dashboard {
		margin-top:5px;
		border:1px solid #ccc;
		border-radius:5px;
		box-shadow:0 2px 2px #ccc;
		padding:10px 20px;
		background-color:#fafafa;
		height:85px; 
		padding:5px;
		margin-bottom:20px;
	}
	
	#main .panel_dashboard .item {
		width:164px; 
		height:65px; 
		float:left; 
		border-right:1px solid #cccccc; 
		border-left:1px solid #ffffff;
		padding:10px;
	}
	
	#main .panel_dashboard .first {
		border-left:0;
	}
	
	#main .panel_dashboard .last {
		border-right:0;
	}
	
	#main .panel_dashboard .item h3 {
		font-size:18px;
		text-align:center;
		font-weight:normal;
	}
	
	#main .panel_dashboard .item span {
		font-size:25px;
		display:block;
		text-align:center;
		margin-top:10px;
	}
	
	#main .panel_choicelnk a, #main .panel_choicelnk a:hover {
		color:#565656;
		text-decoration:underline;
		padding-left:4px;
	}
	
	#main .panel_choicelnk a.current, #main .panel_choicelnk a.current:hover {
		color:#2756ad;
		text-decoration:none;
		cursor:auto;
	}
	
	#main .panel_chart {
		margin-top:5px;
		border:1px solid #ccc;
		border-radius:5px;
		box-shadow:0 2px 2px #ccc;
		padding:10px 20px;
		background-color:#ffffff;
		height:300px; 
		padding:15px;
		margin-bottom:20px;
	}
	
	/* panel_btn start */
	#main .panel_btn {
		height:25px;
		line-height:25px;
		padding:10px 10px;
		border-radius:0 0 0 5px;
	}
	
	#main .panel_btn_top {
		margin-bottom:10px;
	}
	/* panel_btn end */