body{
    overflow-y:auto;
}
#chart1{

    height:100%;
    width:100%;
}
#blacklist{
    border:1px solid #999999;
    padding: 10px;
    width: 400px;
    letter-spacing:2px;
}
.adList{
    table-layout:fixed;
}
.adList tr td:nth-child(2),.adList tr td:nth-child(3){
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
*:focus{
    outline:none;
}
a.changeIcon{
   margin-right: 10px; 
}
a.view_icon:hover{
    color:#003399
}
#cus_start_time,#cus_end_time{
    width:90px;
}
.ui_select_textColor img{
    width:25px;
     height:20px;
}
.list_order{
    margin-right:24px;
    float:right;
}
.ui-datepicker-title{
    font-weight:normal;

}
.ui-widget-header{
    background:#6CBF0A;
    border:none;
}
.ui-datepicker .ui-datepicker-title select.ui-datepicker-month{
    font-size:0.86em;
}
.icon_return {
    background:url(../images/umengADsystem_icon.gif) 0 -200px no-repeat;
    padding-left:15px;
    margin:0 10px;
}
.icon_modify {
    background:url(../images/icon_modify.png) 0 0 no-repeat;
    padding-left:20px;
    color:#000;
}
.icon_expend, .icon_expend_rev {
    background:url(../images/icon_expend.png) 0 0 no-repeat;
    padding-left:20px;
    color:#000;
    margin-left:15px;
}
.icon_expend_rev{
    background:url(../images/icon_expend+.png) 0 0 no-repeat;
}
.icon_report {
    background:url(../images/icon_report.png) 0 0 no-repeat;
    padding-left:20px;
    color:#000;
    margin-left:15px;
}



.ui_radio {
    width:127px;
    height:25px;
    display:inline-block;
    cursor:pointer;
    border:none;
    margin-right:10px;
    color:#333;
    display: inline-block;
    margin-bottom:5px;
    vertical-align:middle;
    background:url(../images/umengADsystem_btn.gif) 0 -200px no-repeat;
}
.ui_radio_checked {
    background-position:0 -250px;
}
.ui_radio_disabled {
    color:grey;
    cursor:not-allowed;
}
.ui_radio span {
    width:106px;
    height:22px;
    line-height:22px;
    text-align:center;
    float:right;
}
.ui_radio .ios {
    text-align:left;
    text-indent:35px;
    background:url(../images/umengADsystem_btn.gif) right -297px no-repeat;
}
.ui_radio .android {
    background:url(../images/umengADsystem_btn.gif) right -347px no-repeat;
}

.input_text {
    height:18px;
    background:#fff url(../images/input_text_bg.gif) 0 0 repeat-x;
    border:1px solid #999;
    border-bottom-color:#ccc;
    border-right-color:#ccc;
    padding:0 5px;
    box-shadow:0 1px 3px #ccc;
    border-radius:3px;
}

.input_textarea {
    background: url(../images/input_text_bg.gif) 0 0 repeat-x;
    border:1px solid #ccc;
    border-radius:3px;
    box-shadow:0 1px 3px #ccc;
}

.input_text:focus, .input_textarea:focus, .input_text_focus {
    border-color:#FC0;
}

/* ui_select */
.ui_select,.ui_noselect {
    width:200px;
    height:19px;
    border:1px solid #999;
    background:url(../images/select_imitate.gif) 0 0 repeat-x;
    cursor:pointer;
    position:relative;
    z-index:1;
    border-radius:3px;
    display: inline-block;
    vertical-align: middle;
}
.ui_select a.btn_pulldown {
    width:19px;
    height:19px;
    overflow:hidden;
    float:right;
    background:url(../images/umengADsystem_icon.gif) 0 -250px no-repeat;
}
.ui_select a.btn_pulldown:hover {
    background-position:0 -269px;
}
.ui_select span.text ,.ui_noselect span.text{
    width:70%;
    display:block;
    height:19px;
    line-height:19px;
    margin-right:19px;
    text-align:left;
    padding-left:5px;
    color:#000;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.ui_select .pop_menu {
    width:100%;
    height:auto;
    max-height:144px;
    overflow:auto;
    _overflow:auto!important;
    border:1px solid #999;
    background:#fff;
    position:absolute;
    left:-1px;
    top:18px;
    z-index:100;
    display:none;
    box-shadow:0 2px 5px #666;
}
.ui_select .pop_menu ul {
    float:none!important;
}
.ui_select .pop_menu ul li {
    padding:0!important;
    height:20px;
    line-height:20px;
    float:none;
    background:none;
}
.ui_select .pop_menu ul li a {
    display:block;
    height:20px;
    padding:0 5px!important;
    text-decoration:none;
    overflow:hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ui_select .pop_menu ul li a:hover {
    background:#eee;
}

/* panel_table start */

.panel_table {
    background-color:#fafafa;
    border:1px solid #ccc;
    border-radius:5px;
    box-shadow:0 2px 2px #ccc;
}
.panel_table .part_search {
    background:#F3F3F3;
    height:30px;
    border-bottom:1px solid #ccc;
    border-top:1px solid #ccc;
}
.panel_table .part_operation {
    background:#F3F3F3;
    height:30px;
    border-bottom:1px solid #ccc;
    border-radius:5px 5px 0 0;
}
.panel_table .part_operation_footer {
    border-top:1px solid #ccc;
    border-bottom:0;
    border-radius:0 0 5px 5px;
}

.panel_table .part_operation span.title {
    float:left;
    display:inline;
    margin-left:10px;
    line-height:30px;
    text-shadow:1px 1px #fff;
    font-size:14px;
}
.panel_table .part_operation dl {
    float:left;
    height:30px;
    border-radius:5px 0 0 0;
}
.panel_table .part_operation dd {
    float:left;
    height:30px;
    display:inline;
    border-right:1px solid #ccc;
    border-left:1px solid #fff;
    background:url(../images/panel_table.gif) 0 0 repeat-x;
}
.panel_table .part_operation dd a {
    height:inherit;
    display:block;
    font-weight:bold;
    font-size:12px;
    line-height:30px;
    color:#000;
    padding:0 15px 0 25px;
}
.panel_table .part_operation dd.addnew {
    border-radius:5px 0 0 0;
    padding-top:1px;
    padding-left:1px;
    height:29px;
    background:#fff;
    text-align:center;
}
.panel_table .part_operation dd.addnew .btn_add{
    margin-right:3px;
}
.panel_table .part_operation dd.play a {
    background:url(../images/umengADsystem_icon.gif) 5px -293px no-repeat;
}
.panel_table .part_operation dd.pause a {
    background:url(../images/umengADsystem_icon.gif) 5px -343px no-repeat;
}
.panel_table .part_operation dd.delete a {
    background:url(../images/umengADsystem_icon.gif) 5px -393px no-repeat;
}
.panel_table .part_operation dd.return {
    background:none;
    border:none;
}
.panel_table .part_operation dd.return a {
    display:inline;
    padding: 0 0 0 15px;
    color:#039;
    font-weight:normal;
}
.panel_table .right {
    float:right;
    margin-top:7px;
    margin-right:10px;
}
.panel_table .state {
    position:relative;
    float:right;
    height:30px;
    text-shadow:1px 1px #fff;
    border-left:1px solid #ccc;
    line-height:30px;
    padding-left:30px;
    cursor:pointer;
    background:url("../images/icon_arrow_down.png") 10px center no-repeat;
}

.panel_table .state.show {
    background:url("../images/icon_arrow_up.png") 10px center no-repeat;
}

.panel_table .state a, .panel_table .state a:hover {
    color:#000;
    text-decoration:none;
    margin-right:30px;
}

.panel_table .state .filter{
    display:inline-block; 
    margin-left:5px;
    padding-left:20px;
    padding-right:10px;
}

.panel_table .state .none  {
    display:inline-block; 
    margin-left:2px;
    padding-right:10px;
}

.panel_table .state .normal {
    background:url("../images/icon_state_normal.gif") center left no-repeat;
}

.panel_table .state .top ,.limit{
    background:url("../images/icon_state_top.gif") center left no-repeat;
}
.panel_table .state .nofilter {
    background:url("../images/icon_nopercent.png") center left no-repeat;
}

.panel_table .state .pause,.panel_table .state .app_pause,.panel_table .state .adorder_pause {
    background:url("../images/icon_state_pause.gif") center left no-repeat;

}

.panel_table .state .complete {
    background:url("../images/icon_state_complete.gif") center left no-repeat;
}
.panel_table .state .ready {
    background:url("../images/icon_state_abled.gif") center left no-repeat;
}

.panel_table .state_panel {
    border:1px solid #ccc;
    border-right:0;
    position:absolute; 
    right:0;
    top:30px;
    background-color:#fff;
    padding:0 10px;
    z-index:999;
}
.state_panel ul li label{
    cursor:pointer;
    -moz-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none;
}
.panel_table .opr .btn_change_state {
    display:block;
    width:88px;
    height:27px;
    background:url("../images/btn_change_state.png") no-repeat;
    margin:0 auto;

}

.panel_table .btn_change_state a {
    width:88px;
    height:27px;
    display:block;
    text-indent:-10000px;
}

.panel_table .opr {
    width:100%;
    border-top:1px solid #ccc;
    padding:6px 0;
    text-align:center;
}

.panel_table .txt {
    height:30px;
    line-height:30px;
    padding-left:10px;
}
.panel_table .right_other {
    float:right;
    margin-top:5px;
    margin-right:20px;
}
.panel_table .right_other label {
    margin-right:10px;
}
.panel_table .right_extra {
    float:right;
    margin-top:7px;
}
.panel_table .part_table th {
    height:29px;
    text-align:center;
    background:url(../images/panel_table.gif) right -50px no-repeat;
    color:#000;
    font-weight:normal;
    font-size:12px;
    line-height:29px;
    text-shadow:1px 1px #fff;
}
.panel_table .part_table th.last {
    background-position:left -50px;
}
.panel_table .part_table td {
    text-align:left;
    padding:5px 15px;
   
    background:#ffffff;
}
.panel_table .part_table td.center {
    text-align:center;
}
.panel_table .part_table td.chk {
    padding:7px;
    text-align:center;
}
.panel_table .part_table td .hasmargin{
    margin-right:10px;
}
.panel_table .part_table td img {
    margin-right:3px;
}

.panel_table .part_table td.tb_inner {
    background-color:#efefef; 
    padding:8px;
}
.panel_table .part_table .transbg td {
    background:#F1FAFF;
}
.panel_table .part_table .hightlight td {
    background:orange;
}
.panel_table .part_table .total td{
    padding:5px inherit;
    background:#F6F6F6 url(../images/select_imitate.gif) 0  top repeat-x;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
}
.panel_table .part_table .promotionTable td:nth-of-type(2n+3) {
    color:#2756AD;
}
.panel_table .part_table .tb_inner_wrap {
    padding:3px;
    box-shadow:0 1px 3px #ccc;  
    border-radius:2px; 
    background-color:#fff;
    position: relative;
}

.panel_table .part_table .tb_inner {
    width:100%;
}

.panel_table .part_table .tb_inner tr th {
    background:url('../images/tb_head_bg.png');
    color:#fff;
    text-shadow:0 0 #ccc;
}
.panel_table .tb_inner td {
    text-align:center;
    padding:7px 25px;
    background:none;
}

.panel_table .tb_inner .transbg td {
    background-color:#f8fcf1;
}

.panel_table .tb_inner .opr {
    background-color:#ffffff;
    /*	padding:10px 0;
            text-align:left;
            padding-left:10px;
            padding-right:15px;*/
    text-align:center;
}

.panel_table .tb_inner .opr .pager{
    float:right;
}

.panel_table .tb_inner .opr .expend_all{
    margin-left:15px;
    width:15px;
    height:9px;
    padding-left:20px;
    background:url("../images/icon_arrow_down.png") 0 4px no-repeat;
}

.panel_table .tb_inner .opr .expend_all a{
    color:#4b8e03;
    font-weight:bold;
    text-decoration:underline;
}

.panel_table .part_foot {
    height:30px;
    line-height:30px;
    padding:0 10px;
    border-radius:0 0 5px 5px;
    padding:6px 10px;
}
.panel_table .part_note {
    height:30px;
    line-height:30px;
    background:#F3F3F3;
    height:30px;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
    padding:0 10px;
}

.panel_table .part_table .use .price, .panel_table .part_table .use .percent {
    float:left;
    color:#5a5a5a;
}

.panel_table .part_table .use .gray {
    color:#5a5a5a;
}

.panel_table .part_table .use .green{
    color:#63a100;
}

.panel_table .part_table .use .progress {
    background-color:#e6e6e6; 
    width:100px; 
    height:5px; 
    border:1px solid #64a002; 
    border-radius:2px; 
    float:left; 
    margin:5px 10px auto 10px;
}

.panel_table .part_table .use .progress  span {
    display:block; 
    background-color:#7abe09;
    height:5px;
    float:left;
}

.panel_table .part_table .use .nopercent {
    padding-left:20px; 
    background:url('../images/icon_nopercent.png') no-repeat;
    color:#5a5a5a;
}
/* panel_table end */

/* �Ի��� ��ʼ */

#msg_wrap_form {
    color: #000;
    font-size: 12px;
    text-align: left;
    width: 722px;
}


#msg_wrap_form .msg_content_top {
    height: 50px;
    background-image: url(../images/msg_top_bottom.png);
    padding:6px 0;
}

#msg_wrap_form .msg_content_top h3.title {
    padding: 18px 30px 0;
    height: 32px;
}

#msg_wrap_form .msg_content_top h3.title .fl b {
    color: #2C6EC7;
}

#msg_wrap_form .msg_content_top h3.title .label {
    background:url('../images/msg_title_bg.png') no-repeat; 
    width:76px; 
    height:29px; 
    display:inline-block; 
    line-height:29px; 
    padding-left:12px; 
    font-size:14px; 
    color:#fff;
}

#msg_wrap_form .msg_content_center {
    line-height: 180%;
    background: url(../images/msg_bg.png) repeat-y;
    padding:0 30px;
}

#msg_wrap_form .msg_content_center table tr td {
    /*	padding: 5px 10px 5px 10px;*/
    font-size:12px;
}

#msg_wrap_form .msg_content_center table tr td.title {
    font-weight: 700;
    color: #2C6EC7;
    font-size: 14px;
    width: 140px;
    padding: 5px 0 5px 10px;
}

#msg_wrap_form .msg_content_center table tr.msg_even td {
    background-color: #f2f2f2;
}

#msg_wrap_form .msg_content_center .title {
    font-size:14px;
    color:#000000;
}

#msg_wrap_form .msg_content_center h4 {
    font-size:14px;
    color:#2a5295;
    border-top:1px solid #cccccc;
    padding:4px 0;
}

#msg_wrap_form .msg_content_bottom {
    height:45px;
    background: url(../images/msg_top_bottom.png) 0 bottom;
    padding:20px 20px 0 20px;
}

#msg_wrap_form .close{
    text-align: right;
    cursor: pointer;
    display: block;
    height:19px;
    width:19px;
    background:url('../images/report_subscribe_close_normal.png') no-repeat;
}
#msg_wrap_form .close:hover{
    background:url('../images/report_subscribe_close_hover.png') no-repeat;
}
/* ����ѡ�� */
.sel_title{
    float: right;
    font-size: 16px;
    height: 34px;
    line-height: 34px;
}
.sel_wrap {
    float:right;  
    height:34px;
    position:relative;
}

.sel_wrap .left {
    display:inline-block; 
    float:left; 
    width:5px; 
    height:34px; 
    background:url('../images/sel_arrow.png');
}

.sel_wrap .arrow_up, .sel_wrap .arrow_down {
    display:inline-block; 
    float:left; 
    width:30px; 
    height:34px; 
    cursor:pointer;
    background:url('../images/sel_arrow.png');
}
.sel_wrap .arrow_down {
    background-position:-5px 0;
}
.sel_wrap .arrow_up {
    background-position:right;
}



.sel_wrap .con {
    display:inline-block; 
    float:left; 
    height:inherit; 
    line-height:34px; 
    padding:0 10px; 
    font-size:16px; 
    background:url('../images/sel_bg.jpg') repeat-x; 
    color:#ffffff; 
    z-index:2;
    cursor:pointer;
    min-width:100px;
    max-width:150px;
    overflow:hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}

.sel_wrap .pop_menu {
    width:97%;
    background-color:#fff;
    z-index:999;
    top:32px;
    left:1px;
    position:absolute;
    border:1px solid #ccc;
    border-radius:0 0 5px 5px;
    box-shadow:0 0 2px #ccc;
    display:none;
    overflow-y:auto;
    overflow-x:hidden;
    max-height:250px;
}

.sel_wrap .pop_menu li {
    /*width:100%;*/
    padding:5px 5px 10px 15px;
    font-size:15px;
}
.sel_wrap .pop_menu li:hover{
    background:#718CCF;

}
.sel_wrap .pop_menu li a {
    display:block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    /*width: 90%;*/
}
.sel_wrap .pop_menu li:hover a {
    text-decoration:none;
    color:white;
}
/* 自定义时间 */
.choice_time {
    position:relative;
    float:left; 
    padding-top:12px;
    padding-left:6px;
}
.toggle_choice_time{
    padding-top:13px;
}
.choice_time .btn_choice_time {
    cursor:pointer;
    text-decoration:underline;
}
.panel_choice_time{
    display: inline-block;
}
/*.choice_time .btn_choice_time {
        cursor:pointer;
        text-decoration:underline;
}

.choice_time .panel_choice_btn {
        display:block; 
        border-top:1px solid #aeaeae; 
        text-align:right; 
        padding-top:5px;
}

.choice_time .panel_choice_btn .btn_panel_cancel {
        width:69px; 
        height:28px; 
        background:url('../images/btn_panel_cancel.png'); 
        display:inline-block;
}

.choice_time .panel_choice_btn .btn_panel_save {
        width:69px; 
        height:28px; 
        background:url('../images/btn_panel_save.png'); 
        display:inline-block; 
}

.choice_time .panel_choice_btn .btn_panel_cancel a, .choice_time .panel_choice_btn .btn_panel_save a {
        width:69px; 
        height:28px;
        display:block;
        text-indent:-10000px;
}

.choice_time .panel_choice_time {
        padding:10px;
        position:absolute; 
        width:350px; 
        height:150px; 
        background-color:#fafafa;
        border:1px solid #ccc;
        border-radius:3px;
        box-shadow:0 0 2px #ccc;
        left:-5px;
        top:6px;
}*/

.tb_form th {
    padding:4px 8px 1px;
    text-align:right;
    vertical-align:top;
}

.tb_form td {
    padding:5px 8px 1px;
    text-align:left;
}
.pickerTable td{
    padding:0;
}
/*.tb_form .tip th, .tb_form .tip td {
        padding:2px 8px 5px;
}*/
.tb_form span.tip {
    padding-left:10px;
    color:#6e6e6e;
}
.tb_form .tb_inner_wrap {
    padding:3px;
    box-shadow:0 1px 3px #ccc;  
    border-radius:2px; 
    background-color:#fff;
    width:500px;
}
.tb_form .tb_inner {
    width:100%;
}

.tb_form .tb_inner th {
    background:url('../images/tb_head_bg.png');
    color:#fff;
    text-shadow:0 0 #ccc;
    text-align:center;
}
.tb_form .tb_inner td {
    text-align:center;
    background-color:#fff;
}

.tb_form .tb_inner td, .tb_form .tb_inner th {
    border-bottom:1px solid #D9E6F6;
}

.tb_form .tb_inner .transbg td {
    background-color:#f8fcf1;
}

.tb_form .tb_inner .opr {
    background-color:#ffffff;
    padding:2px 0;
    text-align:left;
    padding-left:10px;
    padding-right:15px;
    border-bottom:0;
    background-color:#8CC63E;
    color:#ffffff;
}
.tb_form .tb_inner .opr .pager{
    float:right;
}
.tb_form .tb_inner .opr .expend_all{
    margin-left:15px;
    width:15px;
    height:9px;
    padding-left:20px;
    background:url("../images/icon_arrow_down.png") 0 4px no-repeat;
}
.tb_form .tb_inner .opr .expend_all a{
    color:#4b8e03;
    font-weight:bold;
    text-decoration:underline;
}
.loading {
    width:100%;
    height:100%;
    background-color:#fff;
    position:absolute;
    display:block;
    filter:alpha(opacity=90);
    opacity: 0.9;
    z-index:100;
}
.loading div.txt {
    vertical-align:middle;
    color:#64a609;
    font-size:14px;
    font-weight:bold;
    width:105px; 
    margin:0 auto;
}
.loading div.pic {
    width:355px; 
    margin:0 auto;
}

.loading_row {
    width:938px;
    /*width:915px;*/	
    height:100%;
    background-color:#ffffff; 
    position:absolute; 
    left:0; 
    top:0;
    filter:alpha(opacity=90);
    opacity: 0.9;
    z-index:999;
}
.loading_row div.txt {
    color:#64a609;
    font-size:14px;
    font-weight:bold;
}
.loading_row div.pic {
    width:355px; 
    margin:0 auto;
}
/*  */
.level {
    position:relative;
}
.level .pnl {
    display:none;
    position:absolute; 
    width:80%; 
    height:170px; 
    border:1px solid gray; 
    left:0; 
    top:0; 
    background-color:#fff;
    padding:5px;
    box-shadow:0 1px 3px #ccc;
    border-radius:2px;
    z-index:10;
}
.level .lvl {
    display:inline-block;
    width:31px; 
    height:22px;
}

.level .i1 {
    background:url('../images/icon_level_1.png') no-repeat; 
}

.level .i2 {
    background:url('../images/icon_level_2.png') no-repeat; 
}

.level .i3 {
    background:url('../images/icon_level_3.png') no-repeat;
}

.level .lvl a {
    display:block;
    width:31px; 
    height:22px;
}

.level .opr {
    /*	padding-left:5px;*/
}

.level  .btn_save {
    width:67px;
    height:30px;
    display:inline-block;
    background:url('../images/btn_level_opr.png') no-repeat;
}

.level  .btn_cancel {
    width:67px;
    height:30px;
    display:inline-block;
    background:url('../images/btn_level_opr.png') 0 -28px no-repeat;
}

.level  .btn_save a, .level  .btn_cancel a {
    width:67px;
    height:30px;
    display:block;
    text-indent:-10000px;
}

#pager {
    padding-top:6px;
    padding-right:10px;
}

#pager a ,.pager a{
    padding:1px 6px;
    margin-left:5px;
    border:1px solid #cdcdcd;
    color:gray;
}

#pager a:hover ,.pager a:hover{
    text-decoration:none;
    border:1px solid gray;
    color:#ffffff;
    background-color:#435C9C;
}

#pager span,.pager span {
    padding:1px 6px;
    margin-left:5px;
    border:1px solid gray;
    color:#ffffff;
    background-color:#435C9C;
}
.f_csv {
    padding-top:6px; padding-left:10px;
}
.preview {
    /*background: url('../images/preview_bg.png') no-repeat;*/
    width: 322px;
    height: 51px;
    border:1px solid #d5d5d5;
    box-shadow:0 0 5px rgba(0,0,0,.15);
    /*	padding: 6px;*/
    display: inline-block;
    float: left;
    position:relative;
}

.preview_del {
    display: inline-block;
    float: left;
    margin-top: 35px;
    padding-left: 18px;
    background: url('../images/icon_del.png') no-repeat;
}
#des_show{
    bottom: 0;
    color: grey;
    display: block;
    font-size: 12px;
    left: 55px;
    max-width: 260px;
    overflow: hidden;
    position: absolute;
    text-overflow: ellipsis;
    white-space:nowrap;
    top:25px;
}
.name_show{
    font-size: 14px;
    left: 55px;
    position: absolute;
    top: 5px;
    text-overflow: ellipsis;
    max-width: 260px;
    overflow: hidden;
    display: block;
    white-space:nowrap;
}
.textFont_show{
    left: 5px;
    line-height: 45px;
    max-width: 320px;
}
.iColorPicker{
    width:10px;
    text-indent:10em;
}
.special {
    background-color:#fff;
    width:420px;
    /*	padding:10px;*/
    border:1px solid gray;
    margin-top:5px;
    position: absolute;
    right: -10px;
    top: -120px;
    width: 420px;
    z-index: 1002;
}
.comment a{
    color:#cccccc;
}
.ui_radio_region_btn{
    float:right;
    margin-right:10px;
}
.adslot_special_comment,.ad_special_comment{
    display: inline-block;
    max-width:150px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    vertical-align:middle;
}
.ad_special_comment{
    max-width:200px;
}
table.country_list label{
    cursor:pointer;
    margin:0 2px;
}
table.country_list input{
    vertical-align:bottom;
}
table.country_list{
    border-collapse:separate;
    /*   border:1px solid grey;*/
    width:100%;
}
.tb_form table.country_list td{
    font-size:12px;
    border-bottom: 1px solid #D8D7D7;
    min-width: 300px;
    padding:0;
    line-height: 18px;

}
.tb_form .tb_title td{
    font-size:14px;
    color:#455EA4;
    background: #EFEFEF;

}
.area_list td{
    text-indent: 2em;
}
table.country_list tr:nth-of-type(odd){
    background:rgba(219, 231, 248, 0.3);
}
table.country_list tr:hover{
    background:#DBE7Ff;

}
table.pnl_pro td lable{
    margin-right:5px;
}
/*getcode begin*/
a.get_code{
    margin-left:15px;
}
#get_code,#adListForUseContainer{
    height:410px;
    width: 930px;
    font-size:13px;
    color:black;
    background:white;
    border-radius:5px 20px 5px 5px;
    -moz-border-radius:5px 20px 5px 5px;
    -webkit-border-radius:5px 20px 5px 5px;
    -ms-border-radius:5px 20px 5px 5px;
    -o-border-radius:5px 20px 5px 5px;
    position: relative;
}
#adListForUseContainer{
   /* position:absolute;
    left:20px;
    top: 130px;*/
    width: 680px;
    height:430px;
}
#adListForUseContainer .btns{
  position:absolute;
  right:18px;
  bottom:10px;
}
#get_code .close,#adListForUseContainer .close_adlist{
	text-align: right;
	cursor: pointer;
         
}
a.code_href{
    display: block;
    position: relative;
    top: 80px;
}
#choose_adslot,#adslot_code,#choose_ad{
    height:340px;
    position: absolute;
    top:40px;
    border:#CCCCCC 1px solid;
    text-align:left;
    text-indent:1em;
    
}
.thead{
    background:#6CBF0A;
    height:29px;
    color:white;
    text-align:left;
    font-weight:bold;
}
.tfoot{
    background:#E6E6E6;
    width:100%;
}
#choose_adslot_item td ,#choose_adslot th,#choose_ad th,#choose_ad_item td{/*#choose_adslot td,#adslot_code td,#choose_adslot th,#adslot_code th*/
    height:29px;
    text-indent:1em;
}
#choose_adslot th,#choose_ad th{
    background:#E6E6E6;
    color:black;
}
.border_left{
     border-left:1px solid #CCCCCC;
}
.border_top{
     border-top:1px solid #CCCCCC;
}
.border_bottom{
     border-bottom:1px solid #CCCCCC;
}
#choose_adslot,#choose_ad{
    width:455px;
    left:20px;
}
#choose_ad{
    width:640px;
}

#adslot_code{
    width:400px;
    right:20px;
}
 td.c_adslot_body{
    
    vertical-align:top;
}
#choose_adslot_item,#choose_ad_item{
   width:100%;
}
#choose_adslot_item td,#choose_ad_item td{
    display: block;
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    float: left;
    line-height: 39px;
    
}
.middle_ico{
    position: absolute;
    right:426px;
    top:200px;
    color:#CCCCCC;
}
.green_btn{
    border-radius:3px;
    -moz-border-radius:3px;
    -ms-border-radius:3px;
    -o-border-radius:3px;
    -webkit-border-radius:3px;
    border:1px solid #46970B;
    background:url(../images/green_btn_bg.png) repeat-x;
    padding:0;
    text-align:center;
    color:white;
    cursor:pointer;
}

.green_btn:active{
    background: #78C319;
}
.c_ad_page li{
    display: inline-block;
    float:left;
    
}
.c_ad_page li a{
   color:#787878;
   text-decoration:underline;
}
.c_ad_page_detail{
    float:left;
    margin-right:10px;
}
.c_adslot_body .code_body{
    max-height:302px;
    display:block;
    width:400px;
    overflow-y:auto;
    overflow-x:auto;
    display: none;
    line-height:1.6em;
    
}
.c_adslot_body .code_body h1{
    margin:10px 0 2px;
}
#code_review{
    white-space:nowrap;
}
#adslot_code h1{
    color:#003399;
    font-size:14px;
    font-weight:normal;
}
#adslot_code pre{
    text-indent:0;
}
.syntaxhighlighter{
    overflow: visible;
}

#adcache_no,#adpage_no{
    margin-left:20px;
}
/*getcode end*/
/*css3 begin */
.border_radius5px{
    border-radius:5px;
    -ms-border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    -o-border-radius:5px;
}
.box_shadow10px{
    box-shadow:0 0 10px black;
    -moz-box-shadow:0 0 10px black;
    -ms-box-shadow:0 0 10px black;
    -o-box-shadow:0 0 10px black;
    -webkit-box-shadow:0 0 10px black;
}
.box_inset_shadow{
    box-shadow:0 0 8px rgba(0,0,0,0.3) inset;
    -moz-box-shadow:0 0 8px rgba(0,0,0,0.3) inset;
    -ms-box-shadow:0 0 8px rgba(0,0,0,0.3) inset;
    -o-box-shadow:0 0 8px rgba(0,0,0,0.3) inset;
    -webkit-box-shadow:0 0 8px rgba(0,0,0,0.3) inset;
}
/*css3 end*/
/* css for timepicker */
.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { height: 25px; margin-bottom: -25px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }